<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to("La Forge", root_path, class: "navbar-brand") %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Clients</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to(icon('fas', 'sign-out-alt', 'Sign Out'), destroy_user_session_path, method: :delete,
          class: "btn btn-default navbar-right") %></li>
      </ul>
    </div>
  </div>
</nav>